@model ECommerce.WEB.Areas.Admin.Model.ShippersManagement.ShipperCRUDModel
@{
    ViewBag.Title = "Kargo Firması Ekleme";
}
 

@using (Html.BeginForm("Insert", "Shipper", FormMethod.Post, new { id = "InsertShippers", @enctype="multipart/form-data"}))
{

    <div class="col-lg-6 col-ml-12">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Kargo Firması Ekle</h4>
                        <div class="form-group">
                            @Html.LabelFor(s => s.Name, new { @class = "col-form-label" })
                            @Html.TextBoxFor(s => s.Name, new { @class = "form-control", required = "", placeholder = "İsim" })
                            @Html.ValidationMessageFor(s=>s.Name)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(s => s.ImagePath, new { @class = "col-form-label" })
                            @Html.TextBoxFor(s => s.ImagePath, new { @class = "form-control", required = "", placeholder = "Resim", type = "file" })
                            @Html.ValidationMessageFor(s => s.ImagePath)

                        </div>

                        <div class="form-group">
                            <input type="submit" value="Kaydet" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

@section Scripts{
    <script>
        Jform ("#InsertShippers");
    </script>
}