@using ECommerce.WEB.Models.OrderManagement
@using ECommerce.WEB.Models.UserCartManagamenet
@using ECommerce.CORE.Helper
@model OrderModel
@{
    ViewBag.Title = "CheckOut";
    decimal totalAmount = 0;
}

@using (Html.BeginForm("CheckOut", "Order",FormMethod.Post)){
    <!-- breadcrumb start -->
    <section class="breadcrumb-section section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-title">
                        <h2>Ödeme</h2>
                    </div>
                </div>
                <div class="col-12">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Product")index.html">Anasayfa</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Ödeme</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb End -->
    <!-- section start -->
    <section class="section-b-space">
        <div class="container">
            <div class="checkout-page">
                <div class="checkout-form">
                    <form>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <div class="checkout-title">
                                    <h3>Adres Bilgileri</h3>
                                    @Html.LabelFor(s => s.AddressId)
                                    @Html.DropDownListFor(s => s.AddressId, Model.AddressList, new { @class = "btn btn-light",  })
                                    @Html.ValidationMessageFor(s => s.AddressId)
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12 col-xs-12">
                                <div class="checkout-details">
                                    <div class="order-box">
                                        <div class="title-box">
                                            <div>Ürün <span>Fiyat</span></div>
                                        </div>
                                        @foreach (UserCartListModel userCart in Model.UserCartModel.UserCartListModel)
                                        {
                                            <ul class="qty">
                                                <li>@userCart.ProductName <span>@CalculateHelper.CalculateDiscountAmount(userCart.DiscountRate, userCart.Amount).ConvertToMoney()</span></li>
                                            </ul>
                                            {
                                                totalAmount += CalculateHelper.CalculateDiscountAmount(userCart.DiscountRate, userCart.Amount) * userCart.ProductCount;
                                            }
                                        }
                                        <ul class="sub-total">

                                            <li>Toplam Tutar <span class="count">@totalAmount.ConvertToMoney()</span></li>
                                            <li>
                                                @*Shipping
                                                    <div class="shipping">
                                                        <div class="shopping-option">
                                                            <input type="checkbox" name="free-shipping" id="free-shipping">
                                                            <label for="free-shipping">Free Shipping</label>
                                                        </div>
                                                        <div class="shopping-option">
                                                            <input type="checkbox" name="local-pickup" id="local-pickup">
                                                            <label for="local-pickup">Local Pickup</label>
                                                        </div>
                                                    </div>*@
                                            </li>
                                        </ul>
                                        @if (Model.UserCartModel.IsHaveCupon)
                                        {
                                            <ul class="total">
                                                <li>İndirimli Hali <span class="count">@CalculateHelper.CalculateDiscountAmount(Model.UserCartModel.DiscountRate, totalAmount).ConvertToMoney()</span></li>
                                            </ul>
                                        }
                                    </div>
                                    <div class="payment-box">
                                        <div class="upper-box">
                                            <div class="payment-options">
                                                <h4 class="text-black">Ödeme türünü seçiniz</h4>
                                                <ul>
                                                    @foreach (SelectListItem payment in Model.ParameterPayment)
                                                    {
                                                        <li>
                                                            <div class="radio-option">
                                                                @Html.RadioButtonFor(s => s.ParameterPaymentId, payment.Value, new { id = payment.Value }) 
                                                                @Html.LabelForModel(payment.Text, new { @for = payment.Value })
                                                                @Html.ValidationMessageFor(s => s.ParameterPaymentId)
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-solid">Ödeme Yap</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
}

