@using ECommerce.WEB.Areas.Admin.Model.CategoryManagement
@model CategoryCRUDModel
@{
    ViewBag.Title = "Kategori Düzenle";
}


@using (Html.BeginForm("Update", "Category", FormMethod.Post, new { @id = "UpdateCategory" }))
{

    @Html.HiddenFor(s=> s.CategoryId)

    <div class="form-group">

        @Html.LabelFor(s => s.TopCategoryId, new { @class = "col-form-label" })
        @Html.DropDownListFor(s => s.TopCategoryId, Model.TopCategoryList, string.Empty, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.TopCategoryId)
    </div>

    <div class="form-group">
        @Html.LabelFor(s => s.CategoryName, new { @class = "col-form-label" })

        @Html.TextBoxFor(s => s.CategoryName, new { @class = "form-control" })

        @Html.ValidationMessageFor(s => s.CategoryName)

    </div>

    <div class="form-group">

        <input type="submit" class="btn btn-success" value="Kaydet"/>
    </div>

}


@section Scripts{
    <script>

        Jform("#UpdateCategory");


    </script>

}