@using ECommerce.WEB.Areas.Admin.Model.ProductManagement
@model List<ProductStoreWindowListView>
@{
    ViewBag.Title = "Ürün Yönetimi";
}

    <div class="main-content-inner">
        <div class="row">
            <!-- data table start -->
            <div class="col-12 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title">Kategori Yönetimi</h4>
                        <a href="@Url.Action("InsertProductStoreWindow","Product")" class="btn btn-primary float-right">Ürün Ekle</a>
                        <br />
                        <br />
                        <br />
                        <div class="data-tables">
                            <table id="dataTable" class="text-center">
                                <thead class="bg-light text-capitalize">
                                    <tr>
                                        <td>Resim</td>
                                        <td>Kategori adı</td>
                                        <td>Tarih</td>
                                        <td>Güncelle</td>
                                        <td>Sil</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (ProductStoreWindowListView product in Model)
                                    {
                                    <tr>
                                        <td><img src="~/Uploads/ProductImage/@product.ImagePath" height="100" width="100" class=" img-responsive" alt=""></td>
                                        <td>@product.ProductName</td>
                                        <td>@if (product.ExpiredDate!= null)
                                        {
                                            @product.ExpiredDate.Value.ToShortDateString()
                                        }
                                        else
                                        {
                                            <h5 class="bg-light">Süresiz</h5>
                                        }
                                        </td>
                                        <td>
                                            <ul class="d-flex justify-content-center">
                                                <li class="mr-3">
                                                    <a href="@Url.Action("UpdateProductStoreWindow", "Product", new {id=product.ProductStorewindowId})" class="text-secondary"><i class="fa fa-edit"></i></a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>
                                            <ul class="d-flex justify-content-center">
                                                <li><a href="@Url.Action("DeleteProductStoreWindow", "Product", new {id=product.ProductStorewindowId})" class="text-danger"><i class="ti-trash"></i></a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- data table end -->
        </div>
    </div>

