@model ECommerce.WEB.Areas.Admin.Model.ProductManagement.ProductStoreWindowCRUDModel
@{
    ViewBag.Title = "UpdateProductStoreWindow";
}


@using (Html.BeginForm("UpdateProductStoreWindow", "Product", FormMethod.Post, new { @id = "UpdateProductStoreWindow" }))
{
    <div class="form-group">

        @Html.LabelFor(s => s.ProductListId, new { @class = "col-form-label" })
        @Html.DropDownListFor(s => s.ProductListId, Model.ProductList, string.Empty, new { @class = "form-control" })
        @Html.ValidationMessageFor(s => s.ProductListId)
    </div>
    <div class="form-group">
        @Html.LabelFor(s => s.ExpiredDate, new { @class = "col-form-label" })
        @Html.TextBoxFor(s => s.ExpiredDate, "{0:dd.MM.yyyy}", new { @class = "form-control datepicker" })
        @Html.ValidationMessageFor(s => s.ExpiredDate)
    </div>

    <div class="form-group">

        <input type="submit" class="btn btn-success" value="Kaydet" />
    </div>
}


@section Scripts{
    <script>

        Jform("#UpdateProductStoreWindow");
    </script>

}

