@using ECommerce.WEB.Models.UserCartManagamenet
@using ECommerce.CORE.Helper
@model UserCartModel
<!-- Add to cart bar -->
@{
    decimal totalAmount = 0;
}
<div id="cart_side" class="add_to_cart right">
    <a href="javascript:void(0)" class="overlay" onclick="closeCart()"></a>
    <div class="cart-inner">
        <div class="cart_top">
            <h3>Sepetim</h3>
            <div class="close-cart">
                <a href="javascript:void(0)" onclick="closeCart()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="cart_media">
            <ul class="cart_product">
                @foreach (UserCartListModel userCart in Model.UserCartListModel)
                {
                    <li>
                        <div class="media">
                            <a href="@Url.Action("Detail","Product",new {id=userCart.ProductId })">
                                <img alt="" class="mr-3" src="~/Uploads/ProductImage/@userCart.ImagePath">
                            </a>
                            <div class="media-body">
                                <a href="@Url.Action("Detail","Product",new {id=userCart.ProductId })">
                                    <h4>@userCart.ProductName</h4>
                                </a>

                                @if (userCart.DiscountRate > 0)
                                {
                                    <h5><del>@userCart.Amount.ConvertToMoney()</del></h5>
                                    <h5>@userCart.ProductCount x @CalculateHelper.CalculateDiscountAmount(userCart.DiscountRate, userCart.Amount).ConvertToMoney()</h5>

                                }
                                else
                                {
                                    <h5>@userCart.ProductCount x @userCart.Amount.ConvertToMoney()</h5>
                                }

                            </div>
                        </div>
                        <div class="close-circle">
                            <a href="@Url.Action("Delete","UserCart",new {userCartId=userCart.UserCartId})">
                                <i class="ti-trash" aria-hidden="true"></i>
                            </a>
                        </div>
                    </li>
                    {
                        totalAmount +=  CalculateHelper.CalculateDiscountAmount(userCart.DiscountRate, userCart.Amount)* userCart.ProductCount;
                    }
                }


            </ul>
            <ul class="cart_total">
                <li>
                    <div class="total">
                        <h5>Sipariş Özeti : <span> @totalAmount.ConvertToMoney()</span></h5>
                    </div>
                </li>
                <li>
                    <div class="buttons">
                        <a href="@Url.Action("Index","UserCart")" class="btn btn-solid btn-block btn-solid-sm view-cart">Sepetim</a>
                        <a href="@Url.Action("CheckOut","Order")" class="btn btn-solid btn-solid-sm btn-block checkout">Şiparişi Tamamla</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Add to cart bar end-->