@using ECommerce.WEB.Models.UserCartManagamenet
@using ECommerce.CORE.Helper
@model UserCartModel
@{
    ViewBag.Title = "Index";

    int totalCount = 0;
    decimal totalAmount = 0;
}

<!-- breadcrumb start -->
<section class="breadcrumb-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <h2>SEPETİM</h2>
                </div>
            </div>
            <div class="col-12">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Product")">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Sepetim</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb End -->
<!--section start-->
<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-auto">
                <table class="table cart-table table-responsive-xs striped-table">
                    <thead>
                        <tr class="table-head">
                            <th scope="col">RESİM</th>
                            <th scope="col">ÜRÜN ADI</th>
                            <th scope="col">FİYAT</th>
                            <th scope="col">ADET</th>
                            <th scope="col">Sİl</th>
                            <th scope="col">Toplam</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (UserCartListModel userCart in Model.UserCartListModel)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Detail","Product",new {id=userCart.ProductId })"><img src="~/Uploads/ProductImage/@userCart.ImagePath" alt=""></a>
                                </td>
                                <td>
                                    <a href="@Url.Action("Detail","Product",new {id=userCart.ProductId })">@userCart.ProductName</a>
                                    <div class="mobile-cart-content row">
                                        <div class="col-xs-3">
                                            <div class="qty-box">

                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color">@userCart.Amount.ConvertToMoney()</h2>
                                        </div>
                                        <div class="col-xs-3">
                                            <h2 class="td-color"><a href="@Url.Action("Delete","UserCart")" class="icon"><i class="ti-close"></i></a></h2>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    @if (userCart.DiscountRate > 0)
                                    {
                                        <h3><del>@userCart.Amount.ConvertToMoney()</del></h3>
                                        <h3>@CalculateHelper.CalculateDiscountAmount(userCart.DiscountRate, userCart.Amount).ConvertToMoney()</h3>

                                    }
                                    else
                                    {
                                        <h3>@userCart.Amount.ConvertToMoney()</h3>
                                    }
                                </td>
                                <td>
                                    <div class="qty-box">
                                        <div class="input-group ">
                                            <span class="input-group-prepend form-control">
                                                <a href="@Url.Action("Decrease","UserCart",new {userCartId=userCart.UserCartId })" class="btn quantity-left-minus"><i class="ti-angle-left"></i></a>
                                            </span>
                                            <span class="form-control">@userCart.ProductCount</span>
                                            <span class="input-group-prepend form-control">
                                                <a href="@Url.Action("Increase","UserCart",new {userCartId=userCart.UserCartId})" class="btn quantity-right-plus"><i class="ti-angle-right"></i></a>
                                            </span>
                                        </div>
                                    </div>
                                <td><a href="@Url.Action("Delete","UserCart",new {userCartId=userCart.UserCartId})" class="icon"><i class="ti-close"></i></a></td>
                                <td>
                                    @{
                                        decimal productTotalAmount = CalculateHelper.CalculateDiscountAmount(userCart.DiscountRate, userCart.Amount) * userCart.ProductCount;
                                    }
                                    <h2 class="td-color"> @productTotalAmount.ConvertToMoney()</h2>
                                </td>
                            </tr>
                            {

                                totalCount += userCart.ProductCount;
                                totalAmount += CalculateHelper.CalculateDiscountAmount(userCart.DiscountRate, userCart.Amount) * userCart.ProductCount;
                            }
                        }

                    </tbody>

                </table>
                <table class="table cart-table table-responsive-md">
                    <tfoot>
                        <tr>
                            <td>
                                Sipariş Özeti:
                            </td>
                            <td>
                                <h2>@CalculateHelper.CalculateDiscountAmount(Model.DiscountRate,totalAmount).ConvertToMoney()</h2>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        @if (!Model.IsHaveCupon)
        {
            using (Html.BeginForm("AddCupon", "UserCart", FormMethod.Post))
            {
                <div class="form-group col-6 float-right">
                    @Html.TextBox("cupon", string.Empty, new { @class = "form-control", placeholder = "Kupon Kodu" })
                    <button type="submit" class="btn btn-success">Getir</button>
                </div>

            }
        }
        else
        {
            <a href="@Url.Action("RemoveCupon","UserCart")" class="btn btn-danger">Kuponu Kaldır</a>
        }

        <br />
        <br />
        <br />
        <div class="row cart-buttons">
            <div class="col-6"><a href="@Url.Action("IndexProductStoreWindow","Product")" class="btn btn-solid">ALışverişe Devam et</a></div>
            <div class="col-6"><a href="@Url.Action("CheckOut","Order")" class="btn btn-solid">Siparişi Tamamla</a></div>
        </div>
    </div>
</section>
<!--section end-->
