@model ECommerce.WEB.Models.AppUserManagement.AppUserUpdateView

@{
    ViewBag.Title = "UpdateUser";
}


<!-- section start -->
    @Html.Action("_ProfileInfo", "AppUser")
    @Html.HiddenFor(s => s.AppUserId)
    <section class="section-b-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="account-sidebar"><a class="popup-btn">my account</a></div>
                    <div class="dashboard-left">
                        <div class="collection-mobile-back"><span class="filter-back"><i class="fa fa-angle-left" aria-hidden="true"></i> back</span></div>
                        @Html.Action("_MenuInfo", "AppUser")
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="dashboard-right">
                        <div class="dashboard">
                            <div class="container">
                                @using (Html.BeginForm("UpdateUser", "AppUser", FormMethod.Post, new { id = "UpdateAppUser" }))
                                { 

                                    <!-- personal deatail section start -->
                                <section class="contact-page register-page">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h3 class="title pt-0">Kullanıcı Bilgilerim</h3>
                                                <form class="theme-form">
                                                    <div class="form-row">
                                                        <div class="col-md-12">
                                                            @Html.LabelFor(s => s.FirstName, new { @class = "col-form-label" })
                                                            @Html.TextBoxFor(s => s.FirstName, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(s => s.FirstName)
                                                        </div>
                                                        <div class="col-md-12">
                                                            @Html.LabelFor(s => s.LastName, new { @class = "col-form-label" })
                                                            @Html.TextBoxFor(s => s.LastName, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(s => s.LastName)
                                                        </div>
                                                        <div class="col-md-12">
                                                            @Html.LabelFor(s => s.Email, new { @class = "col-form-label" })
                                                            @Html.TextBoxFor(s => s.Email, new { @class = "form-control", type = "email", @readonly = "readonly" })
                                                            @Html.ValidationMessageFor(c => c.Email)
                                                        </div>
                                                        <div class="col-md-12">
                                                            @Html.LabelFor(s => s.BirthDate, new { @class = "col-form-label" })
                                                            @Html.TextBoxFor(s => s.BirthDate, "{0:dd.MM.yyyy}", new { @class = "form-control datepicker", })
                                                            @Html.ValidationMessageFor(c => c.BirthDate)
                                                        </div>
                                                        <div class="col-md-12">
                                                            @Html.LabelFor(s => s.ParameterGenderId, new { @class = "col-form-label" })
                                                            <ul>


                                                                @foreach (var parameter in Model.ParameterGenderTypeList)
                                                                {

                                                                    <li>
                                                                        <div class="radio-option">
                                                                            @Html.LabelForModel(parameter.Name, new { @class = "col-form-label", @for = parameter.Name })
                                                                            @Html.RadioButtonFor(s => s.ParameterGenderId, parameter.Id, new { id = parameter.Id })
                                                                            @Html.ValidationMessageFor(c => c.ParameterGenderId)
                                                                        </div>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="col-12 float-left">
                                                        <button class="btn btn-sm btn-solid" type="submit">Güncelle</button>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-sm-6">
                                                <h3 class="title pt-0">Şifre Güncelleme</h3>
                                                <form class="theme-form">
                                                    <div class="form-row">
                                                        <div class="col-md-12">
                                                            @Html.LabelFor(s => s.Password, new { @class = "col-form-label" })
                                                            @Html.PasswordFor(s => s.Password, new { @class = "form-control", })
                                                            @Html.ValidationMessageFor(c => c.Password)
                                                        </div>
                                                        <div class="col-md-12">
                                                            @Html.LabelFor(s => s.NewPassword, new { @class = "col-form-label" })
                                                            @Html.PasswordFor(s => s.NewPassword, new { @class = "form-control", })
                                                            @Html.ValidationMessageFor(c => c.NewPassword)
                                                        </div>
                                                        <div class="col-md-12">
                                                            @Html.LabelFor(s => s.NewRePassword, new { @class = "col-form-label" })
                                                            @Html.PasswordFor(s => s.NewRePassword, new { @class = "form-control", })
                                                            @Html.ValidationMessageFor(c => c.NewRePassword)
                                                        </div>
                                                    </div>
                                                    <br />
                                                    <div class="col-12 float-left">
                                                        <button class="btn btn-sm btn-solid" type="submit">Güncelle</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </section>

                                <!-- Section ends -->
                                }
                            </div>

                        </div>
                        <div class="row cart-buttons">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

@section Scripts{
    <script>
        Jform("#UpdateAppUser")
    </script>
}


