@using ECommerce.WEB.Areas.Admin.Model.CategoryManagement

@model List<CategoryListView>





<div class="content-header" id="CategoryApp">
    <div class="left-section">
        <div class="header-top">
            <div class="navbar">
                <a href="javascript:void(0)" onclick="openNav()">
                    <div class="bar-style"><i class="fa fa-bars sidebar-bar" aria-hidden="true"></i></div>
                </a>
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="sidebar-overlay" onclick="closeNav()"></a>
                    <nav class="">
                        <div onclick="closeNav()">
                            <div class="sidebar-back text-left"><i class="fa fa-angle-left pr-2" aria-hidden="true"></i> Back</div>
                        </div>
                        <ul id="sub-menu" class="sm pixelstrap sm-vertical ">
                            <li class="mega">
                                <a href="#">mobiles, computers</a>
                                <ul class="mega-menu vertical-mega-menu">
                                    <li>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xl-4 mega-box">
                                                    <div class="link-section">
                                                        <div class="demo">
                                                            <div class="menu-title">
                                                                <h6>electronics</h6>
                                                            </div>
                                                            <div class="menu-content">
                                                                <ul>
                                                                    <li><a target="_blank" href="#">Mobile phones</a></li>
                                                                    <li><a target="_blank" href="#">televisions</a></li>
                                                                    <li><a target="_blank" href="#">refrigerator</a></li>
                                                                    <li><a target="_blank" href="#">audio devices</a></li>
                                                                    <li><a target="_blank" href="#">Air Conditioners</a></li>
                                                                    <li><a target="_blank" href="#">laptop & PC</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 mega-box">
                                                    <div class="link-section">
                                                        <div class="demo">
                                                            <div class="menu-title">
                                                                <h6>mobile</h6>
                                                            </div>
                                                            <div class="menu-content">
                                                                <ul>
                                                                    <li><a target="_blank" href="#">new arrivals</a></li>
                                                                    <li><a target="_blank" href="#">best sellter</a></li>
                                                                    <li><a target="_blank" href="#">trading</a></li>
                                                                    <li><a target="_blank" href="#">pre-order</a></li>
                                                                    <li><a target="_blank" href="#">sale</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 mega-box">
                                                    <div class="link-section">
                                                        <div class="demo">
                                                            <div class="menu-title">
                                                                <h6>computers</h6>
                                                            </div>
                                                            <div class="menu-content">
                                                                <ul>
                                                                    <li><a target="_blank" href="#">PCs</a></li>
                                                                    <li><a target="_blank" href="#">laptop</a></li>
                                                                    <li><a target="_blank" href="#">accessories</a></li>
                                                                    <li><a target="_blank" href="#">gaming PCs</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Appliances, Electronics</a>
                                <ul>
                                    <li><a href="#">tvs</a></li>
                                    <li><a href="#">refrigerator</a></li>
                                    <li><a href="#">computers</a></li>
                                    <li>
                                        <a href="#">more</a>
                                        <ul>
                                            <li><a href="#">speakers</a></li>
                                            <li><a href="#">washing</a></li>
                                            <li><a href="#">laptops</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Men's Fashion</a>
                                <ul>
                                    <li><a href="#">indian wear</a></li>
                                    <li><a href="#">western wear</a></li>
                                    <li><a href="#">sports wear</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Women's Fashion</a>
                                <ul>
                                    <li><a href="#">fashion jewellery</a></li>
                                    <li><a href="#">caps and hats</a></li>
                                    <li><a href="#">precious jewellery</a></li>
                                    <li>
                                        <a href="#">more..</a>
                                        <ul>
                                            <li><a href="#">necklaces</a></li>
                                            <li><a href="#">earrings</a></li>
                                            <li><a href="#">wrist wear</a></li>
                                            <li><a href="#">belts & more</a></li>
                                            <li><a href="#">wearable</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Home, Kitchen, Pets</a>
                            </li>
                            <li>
                                <a href="#">Beauty, Health, Grocery</a>
                                <ul>
                                    <li><a href="#">makeup</a></li>
                                    <li><a href="#">skincare</a></li>
                                    <li><a href="#">premium beaty</a></li>
                                    <li>
                                        <a href="#">more</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Sports, Bags, Luggage</a>
                            </li>
                            <li>
                                <a href="#">Toys, Baby Products</a>
                            </li>
                            <li>
                                <a href="#">Books</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="brand-logo">
                <a href="#"> <img src="~/Themes/assets/images/icon/brand-logo/2.png" class="" alt=""></a>
            </div>
            <nav id="main-nav">
                <div class="toggle-nav">
                    <i class="ti-menu-alt"></i>
                </div>
                <ul id="main-menu" class="sm  pixelstrap sm-horizontal">
                    <li>
                        <div class="mobile-back text-right">
                            Back<i class="fa fa-angle-right pl-2" aria-hidden="true"></i>
                        </div>
                    </li>
                    <li v-for="(tb,index) in categoryList" :key="tb.CategoryId">
                        <a href="#" v-on:click="CategoryClick(tb)" v-on:mouseover="GetParent(tb.CategoryId)">{{tb.Name}}</a>
                        <ul>
                            <li v-for="(tbSub,index) in parentCategoryList" :key="tbSub.CategoryId">
                                <a href="#" v-on:click="CategoryClick(tbSub)" v-on:mouseover="GetSubParent(tbSub.CategoryId)">{{tbSub.Name}} </a>
                                <ul>
                                    <li v-for="(tbSubParent,index) in parentSubCategoryList" :key="tbSubParent.CategoryId">
                                        <a href="" v-on:click="CategoryClick(tbSubParent)">{{tbSubParent.Name}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="mega" id="hover-cls">
                        <a href="#">Mega menu</a>
                        <ul class="mega-menu feature-menu full-mega-menu">
                            <li>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-xl-2 mega-box">
                                            <div class="link-section">
                                                <div class="demo">
                                                    <div class="menu-title">
                                                        <h6>electronics</h6>
                                                    </div>
                                                    <div class="menu-content">
                                                        <img src="~/Themes/assets/images/mega-menu/1.jpg" class="mega-menu-img  img-fluid" alt="">
                                                        <ul>
                                                            <li><a target="_blank" href="#">Mobile phones</a></li>
                                                            <li><a target="_blank" href="#">televisions</a></li>
                                                            <li><a target="_blank" href="#">refrigerator</a></li>
                                                            <li><a target="_blank" href="#">audio devices</a></li>
                                                            <li><a target="_blank" href="#">Air Conditioners</a></li>
                                                            <li><a target="_blank" href="#">laptop & PC</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 mega-box">
                                            <div class="link-section">
                                                <div class="demo">
                                                    <div class="menu-title">
                                                        <h6>fashion</h6>
                                                    </div>
                                                    <div class="menu-content">
                                                        <img src="~/Themes/assets/images/mega-menu/2.jpg" class="mega-menu-img  img-fluid" alt="">
                                                        <ul>
                                                            <li><a target="_blank" href="#">woman clothes</a></li>
                                                            <li><a target="_blank" href="#">men clothes</a></li>
                                                            <li><a target="_blank" href="#">footewear</a></li>
                                                            <li><a target="_blank" href="#">accessories</a></li>
                                                            <li><a target="_blank" href="#">watches</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 mega-box">
                                            <div class="link-section">
                                                <div class="demo">
                                                    <div class="menu-title">
                                                        <h6>beauty products</h6>
                                                    </div>
                                                    <div class="menu-content">
                                                        <img src="~/Themes/assets/images/mega-menu/3.jpg" class="mega-menu-img  img-fluid" alt="">
                                                        <ul>
                                                            <li><a target="_blank" href="#">beauty</a></li>
                                                            <li><a target="_blank" href="#">personal care</a></li>
                                                            <li><a target="_blank" href="#">natural care</a></li>
                                                            <li><a target="_blank" href="#">men</a></li>
                                                            <li><a target="_blank" href="#">applience</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 mega-box">
                                            <div class="link-section">
                                                <div class="demo">
                                                    <div class="menu-title">
                                                        <h6>home & kitchen</h6>
                                                    </div>
                                                    <div class="menu-content">
                                                        <img src="~/Themes/assets/images/mega-menu/4.jpg" class="mega-menu-img  img-fluid" alt="">
                                                        <ul>
                                                            <li><a target="_blank" href="#">kitchen & dinning</a></li>
                                                            <li><a target="_blank" href="#">furniture</a></li>
                                                            <li><a target="_blank" href="#">fine art</a></li>
                                                            <li><a target="_blank" href="#">kitchen storage</a></li>
                                                            <li><a target="_blank" href="#">home decor</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 mega-box">
                                            <div class="link-section">
                                                <div class="demo">
                                                    <div class="menu-title">
                                                        <h6>books & movies</h6>
                                                    </div>
                                                    <div class="menu-content">
                                                        <img src="~/Themes/assets/images/mega-menu/5.jpg" class="mega-menu-img  img-fluid" alt="">
                                                        <ul>
                                                            <li><a target="_blank" href="#">all book</a></li>
                                                            <li><a target="_blank" href="#">audio books</a></li>
                                                            <li><a target="_blank" href="#">all movies</a></li>
                                                            <li><a target="_blank" href="#">music</a></li>
                                                            <li><a target="_blank" href="#">video games</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 mega-box">
                                            <div class="link-section">
                                                <div class="demo">
                                                    <div class="menu-title">
                                                        <h6>baby products</h6>
                                                    </div>
                                                    <div class="menu-content">
                                                        <img src="~/Themes/assets/images/mega-menu/6.jpg" class="mega-menu-img  img-fluid" alt="">
                                                        <ul>
                                                            <li><a target="_blank" href="#">toys & games</a></li>
                                                            <li><a target="_blank" href="#">baby products</a></li>
                                                            <li><a target="_blank" href="#">kids fashion</a></li>
                                                            <li><a target="_blank" href="#">toy gifting store</a></li>
                                                            <li><a target="_blank" href="#">baby bath & skin</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>



            </nav>
        </div>
        <div class="header-bottom">
            <div class="search-bar">
                <input class="search__input" type="text" placeholder="Search a product">
                <div class="search-icon "></div>
            </div>
        </div>
    </div>
    <div class="right-section">
        <div class="upper-section">
            <ul>
                <li><a href="#">track order</a></li>
                <li><a href="#">free shipping</a></li>
                <li><a href="#">offer zone</a></li>
                <li>
                    <div class="dropdown language">
                        <div class="select">
                            <span>English</span>
                        </div>
                        <input type="hidden" name="language">
                        <ul class="dropdown-menu">
                            <li id="English">English</li>
                            <li id="French">French</li>
                            <li id="Spanish">Spanish</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="dropdown currency">
                        <div class="select">
                            <span>USD</span>
                        </div>
                        <input type="hidden" name="currency">
                        <ul class="dropdown-menu">
                            <li id="USD">USD</li>
                            <li id="EUR">EUR</li>
                            <li id="INR">INR</li>
                            <li id="AUD">AUD</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="lower-section">
            @Html.Action("_UserInformation", "Home")

        </div>
    </div>
</div>






<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios@0.2.1/dist/axios.js"></script>
<script>

        new Vue({

            el: "#CategoryApp",
            data:{
                categoryList: [],
                active: false,
                parentCategoryList:[],
                parentSubCategoryList: [],
                parent:false
            },
            methods: {
                GetParent(e) {
                    axios.get('@Url.Action("GetParentCategory", "Home")?id='+e).then(response => (this.parentCategoryList = response.Data))
                },
                 GetSubParent(e) {
                     axios.get('@Url.Action("GetParentCategory", "Home")?id=' + e).then(response => (this.parentSubCategoryList = response.Data))
                     this.parentSubCategoryList = [];
                     this.parent = true;
                },
                CategoryClick(e) {
                    window.location.href=('@Url.Action("Category","Product")?id=' + e.CategoryId);
                }
            },
            mounted() {
                axios.get('@Url.Action("GetAllCategory","Home")').then(response => (this.categoryList = response.Data))
            }
        });
</script>
