@model ECommerce.WEB.Models.AppUserManagement.AppUserPasswordModel
@{
    ViewBag.Title = "Şifre Yenileme";
}

@using (Html.BeginForm("RePassword", "Home", FormMethod.Post, new { id = "RePasswordAppUser" }))
{
    @Html.HiddenFor(s => s.ActivationCode)
    @Html.HiddenFor(s => s.AppUserId)
    <!--section start-->
    <section class="pwd-page section-b-space ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 ">
                    <h2>Şifre Değiştirme</h2>
                    <h6>
                        Lütfen yeni bir şifre oluşturunuz.
                    </h6>
                    <form class="theme-form">
                        <div class="form-row">
                            <div class="col-md-12">
                                @Html.LabelFor(s => s.Password, new { @class = "col-form-label" })
                                @Html.PasswordFor(s => s.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.Password)
                                <br />
                                @Html.LabelFor(s => s.RePassword, new { @class = "col-form-label" })
                                @Html.PasswordFor(s => s.RePassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(c => c.RePassword)
                                <br />
                                <input type="submit" value="ŞİFREMİ YENİLE" class="btn btn-solid" />
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--Section ends-->
}

@section Scripts{
    <script>
        Jform("#RePasswordAppUser")
    </script>
}

